#insign{
    .insign{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        .insign_left{
            background-color: #003072;
            color: #fff;
            .insign_left_content{
                width: 60%;
                margin: 0 auto;
                height: 100%;
                justify-content: center;
                display: flex;
                flex-direction: column;
                gap: 30px;
                h2{
                    font-size: 30px;
                    font-family: 'Rubik', sans-serif;
                }
                p{
                    font-size: 20px;
                    letter-spacing: 2px;
                }
                .learn{
                    width: 130px;
                    padding: 10px;
                    font-size: 18px;
                    border: 1px solid #fff;
                    background-color: transparent;
                    color: #fff;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(16, 117, 150);
                    }
                }
            }
        }
    }
}