.managedidCard{
    width: 250px;
    height: 250px;
    background-color: #97b5e025;
    .managedidCard_content{
        width: 50%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
      
        .icon{
            font-size: 50px;
            color: #316ec2 ;
        }
        .ptext{
            font-size: 20px;
            color: #003072;
        }

    }
}